@import "./vars.css";

.App {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.leftPane {
    width: 40%;
    height: 100vh;
}

.rightPane {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    justify-content: flex-end; /* push content to right */
}
  